@model LibraryModel;
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
  <div class="card-header">
    Editar Datos del libro
  </div>
  <div class="card-body">
      <form asp-action="Edit" asp-controller="Principal" method="post">
    <div class="mb-3">
    <input asp-for="IdBook" type="hidden" class="form-control">
  </div>
  <div class="mb-3">
    <label class="form-label">Titulo</label>
    <input asp-for="Title" type="text" class="form-control">
    <span asp-validation-for="Title" class="text-danger"></span>
  </div>
    <div class="mb-3">
    <label class="form-label">Categoria</label>
    <input asp-for="Category" type="text" class="form-control">
    <span asp-validation-for="Category" class="text-danger"></span>
  </div>
    <div class="mb-3">
    <label class="form-label">Autor</label>
    <input asp-for="Author" type="text" class="form-control">
    <span asp-validation-for="Author" class="text-danger"></span>
  </div>
      <div class="mb-3">
    <label class="form-label">Editorial</label>
    <input asp-for="Editorial" type="text" class="form-control">
    <span asp-validation-for="Editorial" class="text-danger"></span>
  </div>
      <div class="mb-3">
    <label class="form-label">Cantidad</label>
    <input asp-for="Amount" type="text" class="form-control">
    <span asp-validation-for="Amount" class="text-danger"></span>
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>
  <a  asp-action="showList" asp-controller="Principal" class="btn btn-warning">Volver a la lista</a>
</form>
  </div>
</div>



